{% for binding in gitops_rbac_serviceaccount_bindings %}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ binding.name }}
  namespace: {{ binding.namespace | default(gitops_rbac_namespace) }}
subjects:
{% for subject in binding.subjects %}
  - kind: ServiceAccount
    name: {{ subject.name }}
    namespace: {{ subject.namespace | default(binding.namespace | default(gitops_rbac_namespace)) }}
{% endfor %}
roleRef:
  kind: {{ binding.role_ref_kind | default('ClusterRole') }}
  name: {{ binding.role_ref_name }}
  apiGroup: rbac.authorization.k8s.io
---
{% endfor %}
